
.contenedor {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}
/*Navegacion*/
.navbar {
    margin-bottom: 5rem;
}
.navbar a {
    font-size: 1.2rem;
}

/* header */


.header_grid {
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (min-width:768px) {
    .header__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 5rem;
    }
}


@media (min-width:375px) {
    .header__imagen {
        width: 100%;
        height: 300px;
    }
}
@media (min-width:768px) {
    .header__imagen {
        width: 100%;
        height: 500px;
    }
}



.contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}
.contenido h2 {
    text-align: center;
}
.contenido p {
    margin: 1rem 0;
    font-size: 1.8rem;
}
.contenido a {
    text-decoration: none;
    color: #FFFFFF;
    background-color: #FF6712;
    padding: 1rem 3rem;
    font-size: 1.2rem;
}
.contenido a:hover {
    background-color: #cd682e;
}

/* Agregando CSS al formulario agregar y actualizar */
