*{
    box-sizing: border-box;
}
html, body {
    height: 100%;
}

body {
    display: grid;
    place-items: center;
    margin: 0;
    padding: 0 24px;
    background-image: url("../img/sena_image.png");
    background-repeat: no-repeat;
    background-size: cover;
    animation: pan 6s infinite alternate linear;
}

@media (width >=500px) {
    body {
        padding: 0;
    }
}
.login-card {
    width: 100%;
    padding: 70px 30px 44px;
    border-radius: 24px;
    background-color: #FFFFFF;
    text-align: center;
}
@media (width >= 500px) {
    .login-card {
        margin: 0;
        width: 400px;
    }
}
.login-card > h2 {
    margin: 0 0 12px;
    font-size: 36px;
    font-weight: 600;
}
.login-card > h3 {
    margin: 0 0 30px;
    font-size: 16px;
    font-weight: 500;
    color: rgb(0, 0, 0, 0.38);
}
.login-form {
    width: 100%;
    margin: 0;
    display: grid;
    gap: 16px;
}
.login-form > a {
    padding: 12px 0;
    width: 90%;
    margin: 0 auto;
    background-color: #216CE7;
    color: #EBEBEB;
    text-decoration: none;
    border-radius: 8px;
    font-size: 18px;
}
.login-form > input {
    width: 100%;
    height: 56px;
    padding: 0 16px;
    border-radius: 8px;
}
.login-form > input {
    border: 2px solid #EBEBEB;
}
/* .login-form > button {
    width: 100%;
    height: 56px;
    border: 0;
    background: #ED732E;
    color: #f9f9f9;
    font-weight: 600;
} */
.botones {
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.btnsubmit {
    width: 40%;
    padding: 15px 0;
    background-color: #ED732E;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

/* ANIMACIONES */
/* @keyframes pan {
    100% {
        background-position: 15% 50%;
    }
} */